body {
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    display: flex;
    height: 9vh;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

th {
    color: black;
}

h1 {
    color: black;
}

p {
    color: black;
}

h3 {
    color: black;
}

h2 {
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    font-weight: bold;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: orange !important;
    font-size: 4vh;
}

.form-control {
    background-color: #ffffff;
    border: 2px solid black;
}

.btn-primary {
    background-color: orange;
    border: none;
    border-radius: 5vh;
}

.btn-primary:hover {
    background-color: orangered;
}

.btn-warning {
    color: #ffffff;
    background-color: black;
    border: none;
}

.btn-warning:hover {
    background-color: gray;
}

.social-icons a {
    color: black;
    font-size: 18px;
}

.social-icons a:hover {
    color: gray;
}

.login-container {
    margin-top: 100px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: black;
}

.card {
    background-color: #ffffff;
}

.form-control {
    background-color: #ffffff;
    border: 2px solid black;
}

.card-header {
    background-color: #495057;
    color: #ffffff;
}

.card-body {
    color: black !important;
}

.form-group label {
    color: black;
}

.social-icons a {
    color: black;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: gray;
    /* Warna saat ikon di-hover */
}

.box {
    height: 80%;
    width: 100%;
    margin-top: 10%;
    background-color: #495057;
}

footer p {
    color: black;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 0;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #495057;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
    text-align: center;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

#main-content {
    margin-left: 250px;
    padding: 20px;
}